<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.guli.dao.OrderLogMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.guli.OrderLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="operate_date" property="operateDate" jdbcType="TIMESTAMP" />
    <result column="log_comment" property="logComment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, order_id, operate_date, log_comment
  </sql>
</mapper>