<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.guli.dao.PaymentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.guli.PaymentInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="alipay_trade_no" property="alipayTradeNo" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="payment_status" property="paymentStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="callback_time" property="callbackTime" jdbcType="TIMESTAMP" />
    <result column="callback_content" property="callbackContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, out_trade_no, order_id, alipay_trade_no, total_amount, subject, payment_status, 
    create_time, callback_time, callback_content
  </sql>
</mapper>